<style>

blockquote {
	font-weight: 100;
     font-family: 'Satisfy', cursive;
	font-size: 1.5rem;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: 1.5rem;
	color: seagreen;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -1rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -1rem;
	bottom: 1rem;
}
 </style>
 
 <div class="quotes quotes-widget">         
     <blockquote id="quotesWidget" style="display:none;"> </blockquote>
     <script> 
               getQuotes();
          
     </script>
     
 </div> 