//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $link-color;
}

html {
  @include fs-4;
}

body {
  font-family: $body-font-family;
  font-size: 1.15em;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $header-font-family;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}

p {
  margin-bottom: 1em;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient($border-color 0%, $border-color 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(rgba($link-color, 0.45) 0%, rgba($link-color, 0.45) 100%);
    background-size: 1px 1px;

  }
}

code {
  font-family: $mono-font-family;
  font-size: 12px;
  line-height: $body-line-height;
}

figure {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}

blockquote {
	font-weight: 100;
  font-family: $quotes-font-family;
	font-size: 1.5rem;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: 1.5rem;
	color: dimgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: darkgrey;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: open-quote;
	left: -1rem;
  top: -2rem;
  font-size: 3em;
}

blockquote:after {
	content:close-quote;
	right: -1rem;
  bottom: 1rem;
  font-size: 3em;
}
